spring:
  application:
    name: mdas
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://pksuns.pakland.io:9000/dbgithub
    username: mdas
    password: 6%9%cqA#y#89rHS8
    driverClassName: org.postgresql.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
        jdbc:
          time_zone: UTC
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.yaml
  profiles:
    active: dev
logging:
  level:
    root: INFO
  file:
    name: console_output.log
github:
  api:
    url: https://api.github.com
    key: #TODO: introduce your own API Key until setting it on console functionality is available.